@charset "UTF-8";
.comment-body {
  display: inline-block;
  position: relative;
	height: auto;
    border: 1px solid lightgray;
  border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.comment-text{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.comment-text p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
#commentWrite > div.panel-body > textarea {
	width: -webkit-fill-available;
	overflow: hidden;
	min-height: 7em;
}